input{
	width:330px;
	padding:10px;
	margin: auto;
}
#esquerda{
	width: 35%;
	height: 500px;
	float: left;
}
#direita{
	width: 65%;
	height: 500px;
	float: left;
}

*{
	padding: 0px;
	margin:0px;
}

tr{
	line-height: 30px;
}